In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("LoanApprovalPrediction.csv")

In [3]:
df['Dependents'].fillna('-',inplace=True)
df['Loan_Amount_Term'].fillna('-',inplace=True)
df['Credit_History'].fillna('-',inplace=True)

C:\Users\Akhilesh\AppData\Local\Temp\ipykernel_34984\2899975127.py:1: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '-' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df['Dependents'].fillna('-',inplace=True)
C:\Users\Akhilesh\AppData\Local\Temp\ipykernel_34984\2899975127.py:2: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '-' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df['Loan_Amount_Term'].fillna('-',inplace=True)
C:\Users\Akhilesh\AppData\Local\Temp\ipykernel_34984\2899975127.py:3: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '-' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df['Credit_History'].fillna('-',inplace=True)

In [4]:
df.fillna(0, inplace = True)

In [5]:
credentials = {
  "type": "service_account",
  "project_id": "dazzling-tensor-405719",
  "private_key_id": "b0b850808aff0fef2369723fd20350986df99045",
  "private_key": "-----BEGIN PRIVATE KEY-----\nMIIEvgIBADANBgkqhkiG9w0BAQEFAASCBKgwggSkAgEAAoIBAQCxkwsAAycoDvYP\nSQd1xUoiRfDtJ/7btZ3lxmwrFD1Vcqm/17EcnPbU7Zh6i0d4NeEFcvTdUGKBoadF\nkyTewgdZacSIsF3sdgDN9gOLrttaV7SoOf7d/TVsTeYNnTlRom7w3S8TIfsJEdNm\nyC2ttcRxkkRF4vC6u8Tr4FdkhuxlH1p56t9JGXC58y5oAx8/nUFw+7gJwBnAtrUq\nkxjd8DNScBDLRaIu8K85tQV+2g9rwoFxIx+G7yCbbHsVrX1h0mMUkbwBzBKjmSsT\ndhEyU+EeH8C+gnXwEelXvyCtrn1et8Cb88G+MfVFYFd5b6kvRY8RQWLnyD+u2Ngv\nwfN9a26vAgMBAAECggEAA3QykBNxZs9Xr/6I7HHj/cAc2LgLmdMxyt8RbaeF9aiv\nWR4v8zhb65mNet0ojKkUgzh0Iu6JnNo0lPuUbRD+TJn6jnj1gPH7TenPXJ9zjnUg\nmJm8LoNMXaj6cwtzqq7g221/Q9m59o2WQ4/qbN5gf5/n3Cmv6nEDT7Nt/fRK/gfW\nA2h9JlXqdgP3nNcB2EEmfJraie4FU8FQrKR/uKrkUDL/zQbonYhWQOSgqn5I3iya\nicYbODk5pccOKwt5iIMf0iCgtNE7pbMFAZH8LzvJ257AhpEsRlj1kQbW6XbpaWGz\nYCoNd/f+aKu4dA02Jc7mdPgmcTK+dDVEjNqdl4HaoQKBgQDwh8gY8X2mTlAfQAl9\nH7WJNT718S4QxmBVvU/Hf4Lz4lKGjiiidHNjLtMihCKnJ1OA36gvThRlm7n4jcJY\nmmibx77+avvcKXwA5GNYHQwMORYu7kI/fY+GqRscg9TDbxHzjqMKBXTgxWSC3uIy\nWxofYvJ5ddsVteAf1XmJ2EUvYQKBgQC8/rh7AAA5KE6Yrxu8q6620if4tXu5m0XD\nR8M3hJKPoM8pRzOs0hLyHVZ6UAALsZ9yyTQMIHFMnvU09Sx8go2mEXpJcYQg3jzj\nSOGdLg4H0qxKBTIymA/RtZ8hbzo0VnL2Tf8QxgA0G8RPYLQM0jJHMhMYFCh6ZDma\nSDg8DgaoDwKBgQDM2lfJJqNk6H3En711G3R5Dyg4PtiE4O9bFojD2A2nuLGgd6KT\n+ansZwza8L6yrgOoVtPethkZELAqyFElNRyy0EQSWvt2Xr6F4/3YJaUFI/mIrtMt\nT7rVbWDxwDWM3SPk0y54cn1Akd0wuLLdQEnXQWZRm9ajfusLMbz5cYA7AQKBgC0K\nu+a8ilEU9R5YZVDizcHOdi5E+lay1b6DpNffZZqLZbPdv0gJzPAc49ZEqK4gx/Jw\nV1IojTgIjkHvyIloB+AzPCSyxB2dOX+lh/eQ2VEt+Veuw1bhfKurEGDEhGeizsU6\ns3ZI6hWBJJkSX/bKRadIHNrZOwhoSH4nhhdx9E4rAoGBAMgOAgn+slk/jKyN+2ZR\nnkRjHmFlwDry2lYb9NJxraMTz8yw+rKKWHBTXwkHVKBQ+iz0eGZTjZ945WznOZWC\nRIZAsNwpXGfqROxbsltMFt0RkMZ4LbbxPgeT5MEsxj+q1n/bgTYvbGZ1NpQLNTed\nE/I9V7A+5dmlHw8F7PNwDIWU\n-----END PRIVATE KEY-----\n",
  "client_email": "akhilesh@dazzling-tensor-405719.iam.gserviceaccount.com",
  "client_id": "116362827476252217949",
  "auth_uri": "https://accounts.google.com/o/oauth2/auth",
  "token_uri": "https://oauth2.googleapis.com/token",
  "auth_provider_x509_cert_url": "https://www.googleapis.com/oauth2/v1/certs",
  "client_x509_cert_url": "https://www.googleapis.com/robot/v1/metadata/x509/akhilesh%40dazzling-tensor-405719.iam.gserviceaccount.com",
  "universe_domain": "googleapis.com"
}

In [6]:
#!pip install SQLAlchemy==2.0.7

In [5]:
from google.cloud.sql.connector import Connector
import sqlalchemy

In [7]:
sqlalchemy.__version__

'2.0.7'

In [7]:
INSTANCE_CONNECTION_NAME = "dazzling-tensor-405719:us-central1:auto-ml" # i.e demo-project:us-central1:demo-instance
print(f"Your instance connection name is: {INSTANCE_CONNECTION_NAME}")
DB_USER = "postgres"
DB_PASS = "}gL<t,[bmnSzF-s:"
DB_NAME = "loan-app"

Your instance connection name is: dazzling-tensor-405719:us-central1:auto-ml

In [9]:
#!pip install pg8000

In [8]:
# function to return the database connection object
connector = Connector()

def getconn():
    conn = connector.connect(
        INSTANCE_CONNECTION_NAME,
        "pg8000",
        user=DB_USER,
        password=DB_PASS,
        db=DB_NAME
    )
    return conn

# create connection pool with 'creator' argument to our connection object function
pool = sqlalchemy.create_engine(
    "postgresql+pg8000://",
    creator=getconn,
)

In [9]:
import os

In [10]:
os.environ['GOOGLE_APPLICATION_CREDENTIALS'] = "dazzling-tensor-405719-b0b850808aff.json"

In [11]:
df.to_sql("loan_approvals", pool, if_exists="replace", index=False)

598

In [12]:
with pool.connect() as db_conn:
  # create ratings table in our sandwiches database
    with open("db/init.sql") as file:
        query = sqlalchemy.sql.text(file.read())
        print(query)
        db_conn.execute(query)
        db_conn.commit()

DO $$ DECLARE
rec RECORD;
BEGIN
	FOR rec IN (
	SELECT
		tablename
	FROM
		pg_tables
	WHERE
		schemaname = 'public') LOOP
EXECUTE 'DROP TABLE IF EXISTS ' || rec.tablename || ' CASCADE';
END LOOP;
END $$;

CREATE TABLE loan_approvals (
    "Loan_ID" VARCHAR,
    "Gender" VARCHAR,
    "Married" VARCHAR,
    "Dependents" VARCHAR,
    "Education" VARCHAR,
    "Self_Employed" VARCHAR,
    "ApplicantIncome" NUMERIC(6),
    "CoapplicantIncome" NUMERIC(6),
    "LoanAmount" NUMERIC(3),
    "Loan_Amount_Term" VARCHAR,
    "Credit_History" VARCHAR,
    "Property_Area" VARCHAR,
    "Loan_Status" VARCHAR
);

CREATE TABLE dim_gender (
    "Gender_ID" SERIAL PRIMARY KEY,
    "Gender" VARCHAR
);

CREATE TABLE dim_married (
    "Married_ID" SERIAL PRIMARY KEY,
    "Married" VARCHAR
);

CREATE TABLE dim_dependents (
    "Dependents_ID" SERIAL PRIMARY KEY,
    "Dependents" VARCHAR
);

CREATE TABLE dim_education (
   "Education_ID" SERIAL PRIMARY KEY,
   "Education" VARCHAR
);

CREATE TABLE dim_self_employed (
    "Self_Employed_ID" SERIAL PRIMARY KEY,
    "Self_Employed" VARCHAR
);

CREATE TABLE dim_loan_amount_term (
    "Loan_Amount_Term_ID" SERIAL PRIMARY KEY,
    "Loan_Amount_Term" VARCHAR
);

CREATE TABLE dim_property_area (
    "Property_Area_ID" SERIAL PRIMARY KEY,
    "Property_Area" VARCHAR
);

CREATE TABLE dim_loan_status (
    "Loan_Status_ID" SERIAL PRIMARY KEY,
    "Loan_Status" VARCHAR
);

CREATE TABLE dim_credit_history (
    "Credit_History_ID" SERIAL PRIMARY KEY,
    "Credit_History" VARCHAR
);

CREATE TABLE fct_loan_approvals (
    "Loan_ID" VARCHAR,
    "Gender_ID" SERIAL REFERENCES dim_gender("Gender_ID"),
    "Married_ID" SERIAL REFERENCES dim_married("Married_ID"),
    "Dependents_ID" SERIAL REFERENCES dim_dependents("Dependents_ID"),
    "Education_ID" SERIAL REFERENCES dim_education("Education_ID"),
    "Self_Employed_ID" SERIAL REFERENCES dim_self_employed("Self_Employed_ID"),
    "ApplicantIncome" NUMERIC(6),
    "CoapplicantIncome" NUMERIC(6),
    "LoanAmount" NUMERIC(3),
    "Loan_Amount_Term_ID" SERIAL REFERENCES dim_loan_amount_term("Loan_Amount_Term_ID"),
    "Credit_History_ID" SERIAL REFERENCES dim_credit_history("Credit_History_ID"),
    "Property_Area_ID" SERIAL REFERENCES dim_property_area("Property_Area_ID"),
    "Loan_Status_ID" SERIAL REFERENCES dim_loan_status("Loan_Status_ID")
);

In [13]:
with pool.connect() as db_conn:
    with open("db/load_data.sql") as file:
        query = sqlalchemy.sql.text(file.read())
        print(query)
        db_conn.execute(query)
        db_conn.commit()

--Populate Gender Dimension Table
insert
	into
	dim_gender ("Gender")
select
	distinct on
	("Gender") "Gender"
from
	loan_approvals;

--Populate Married Dimension Table
insert
	into
	dim_married ("Married")
select
	distinct on
	("Married") "Married"
from
	loan_approvals;

--Populate Dependents Dimension Table
insert
	into
	dim_dependents ("Dependents")
select
	distinct on
	("Dependents") "Dependents"
from
	loan_approvals;

--Populate Education Dimension Table
insert
	into
	dim_education ("Education")
select
	distinct on
	("Education") "Education"
from
	loan_approvals;

--Populate Self Employed Dimension Table
insert
	into
	dim_self_employed ("Self_Employed")
select
	distinct on
	("Self_Employed") "Self_Employed"
from
	loan_approvals;

--Populate Loan Amount Term Dimension Table
insert
	into
	dim_loan_amount_term ("Loan_Amount_Term")
select
	distinct on
	("Loan_Amount_Term") "Loan_Amount_Term"
from
	loan_approvals;

--Populate Property Area Dimension Table
insert
	into
	dim_property_area ("Property_Area")
select
	distinct on
	("Property_Area") "Property_Area"
from
	loan_approvals;

--Populate Loan Status Dimension Table
insert
	into
	dim_loan_status ("Loan_Status")
select
	distinct on
	("Loan_Status") "Loan_Status"
from
	loan_approvals;

--Populate Credit History Dimension Table
insert
	into
	dim_credit_history ("Credit_History")
select
	distinct on
	("Credit_History") "Credit_History"
from
	loan_approvals;

--Populate Loan Approvals Fact Table
insert
	into
	fct_loan_approvals ("Loan_ID",
    "Gender_ID",
    "Married_ID",
    "Dependents_ID",
    "Education_ID",
    "Self_Employed_ID",
    "ApplicantIncome",
    "CoapplicantIncome",
    "LoanAmount",
    "Loan_Amount_Term_ID",
    "Credit_History_ID",
    "Property_Area_ID",
    "Loan_Status_ID")
select
    la."Loan_ID",
    dg."Gender_ID",
    dm."Married_ID",
    dd."Dependents_ID",
    de."Education_ID",
    dse."Self_Employed_ID",
    la."ApplicantIncome",
    la."CoapplicantIncome",
    la."LoanAmount",
    dlat."Loan_Amount_Term_ID",
    dch."Credit_History_ID",
    dpa."Property_Area_ID",
    dls."Loan_Status_ID"
from
    loan_approvals la,
    dim_gender dg,
    dim_married dm,
    dim_dependents dd,
    dim_education de,
    dim_loan_amount_term dlat,
    dim_loan_status dls,
    dim_property_area dpa,
    dim_self_employed dse,
    dim_credit_history dch
where

	la."Gender" = dg."Gender"
	and la."Married" = dm."Married"
	and la."Dependents" = dd."Dependents"
    and la."Education" = de."Education"
    and la."Self_Employed" = dse."Self_Employed"
	and la."Loan_Amount_Term" = dlat."Loan_Amount_Term"
	and la."Property_Area" = dpa."Property_Area"
    and la."Loan_Status" = dls."Loan_Status"
    and la."Credit_History" = dch."Credit_History";

--Commit changes to data warehouse else above commands will not reflect in DBeaver
COMMIT;

In [19]:
with pool.connect() as db_conn:
    # query and fetch ratings table
    results = db_conn.execute(sqlalchemy.text("SELECT * FROM loan_approvals")).fetchall()
    # show results
    print(results)
    for row in results:
        print(row)

[]

In [57]:
!pip install sqlparse
import sqlparse

Collecting sqlparse
  Downloading sqlparse-0.4.4-py3-none-any.whl (41 kB)
Installing collected packages: sqlparse
Successfully installed sqlparse-0.4.4

In [78]:
import re
def extract_table_names(sql_content):
    table_names = set()

    # Use regular expression to find CREATE TABLE statements
    create_table_regex = re.compile(r'CREATE TABLE\s+"?(\w+)"?\s*\(', re.IGNORECASE)

    matches = create_table_regex.findall(sql_content)
    table_names.update(matches)

    return table_names

# Replace this variable with the path to your SQL file
sql_file_path = 'db/init.sql'

# Read the SQL file
with open(sql_file_path, 'r') as sql_file:
    sql_content = sql_file.read()

# Extract table names from the SQL file
table_names = extract_table_names(sql_content)

In [79]:
table_names

{'dim_credit_history',
 'dim_dependents',
 'dim_education',
 'dim_gender',
 'dim_loan_amount_term',
 'dim_loan_status',
 'dim_married',
 'dim_property_area',
 'dim_self_employed',
 'fct_loan_approvals',
 'loan_approvals'}

In [70]:
query.get_children().

SyntaxError: invalid syntax (1305039659.py, line 1)